{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block page_title %} Projects{% endblock %}
{% block page_subtitle %} Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.{% endblock %}

{% block content %}
<style>
  div > div > div > a > div> div:hover{
    background-color: #f2f2f0;
  }

</style>

  <div class="album justify-content-start ps-5 pe-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

          <a class="col text-decoration-none text-dark"  href="project/plotly-data-visualisation">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
              <div class="card-body">
                <h5 class="card-title">Plotly Data Visualisation</h5>
                <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center pb-3">
                  <div calss = "justify-content-start ">
                    <span class="rounded-pill badge bg-secondary">Plotly</span>
                    <span class="rounded-pill badge bg-secondary">Python</span>
                  </div>
                  <div calss = "justify-content-end">
                    <p class="card-text"><small class="text-muted">Last updated 07 Jul 2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a class="col text-decoration-none text-dark"  href="/project/plotly-data-visualisation-interactive" target="_blank">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
              <div class="card-body">
                <h5 class="card-title">Plotly Data Visualisation</h5>
                <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center pb-3">
                  <div calss = "justify-content-start ">
                    <span class="rounded-pill badge bg-secondary">Plotly</span>
                    <span class="rounded-pill badge bg-secondary">Python</span>
                  </div>
                  <div calss = "justify-content-end">
                    <p class="card-text"><small class="text-muted">Last updated 07 Jul 2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a class="col text-decoration-none text-dark"  href="project/linear-regression" target="_blank">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
              <div class="card-body">
                <h5 class="card-title">Plotly Data Visualisation</h5>
                <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center pb-3">
                  <div calss = "justify-content-start ">
                    <span class="rounded-pill badge bg-secondary">Plotly</span>
                    <span class="rounded-pill badge bg-secondary">Python</span>
                  </div>
                  <div calss = "justify-content-end">
                    <p class="card-text"><small class="text-muted">Last updated 07 Jul 2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a class="col text-decoration-none text-dark"  href="project/linear-regression" target="_blank">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
              <div class="card-body">
                <h5 class="card-title">Plotly Data Visualisation</h5>
                <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center pb-3">
                  <div calss = "justify-content-start ">
                    <span class="rounded-pill badge bg-secondary">Plotly</span>
                    <span class="rounded-pill badge bg-secondary">Python</span>
                  </div>
                  <div calss = "justify-content-end">
                    <p class="card-text"><small class="text-muted">Last updated 07 Jul 2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a class="col text-decoration-none text-dark"  href="project/linear-regression" target="_blank">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
              <div class="card-body">
                <h5 class="card-title">Plotly Data Visualisation</h5>
                <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center pb-3">
                  <div calss = "justify-content-start ">
                    <span class="rounded-pill badge bg-secondary">Plotly</span>
                    <span class="rounded-pill badge bg-secondary">Python</span>
                  </div>
                  <div calss = "justify-content-end">
                    <p class="card-text"><small class="text-muted">Last updated 07 Jul 2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a class="col text-decoration-none text-dark"  href="project/linear-regression" target="_blank">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
              <div class="card-body">
                <h5 class="card-title">Plotly Data Visualisation</h5>
                <p class="card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center pb-3">
                  <div calss = "justify-content-start ">
                    <span class="rounded-pill badge bg-secondary">Plotly</span>
                    <span class="rounded-pill badge bg-secondary">Python</span>
                  </div>
                  <div calss = "justify-content-end">
                    <p class="card-text"><small class="text-muted">Last updated 07 Jul 2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>


    </div>
  </div>
{% endblock %}
